.game {

    .github {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;

        img {
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            max-width: 231px;
        }
    }

    audio {
        display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: white;
    outline: 20px solid #2E3837;
    outline-offset: -20px;

    .output {
        width: 80%;
        margin: 20px 0 0 0;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-align: center;
    }

    .board-container {
        height: 75%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    button {
        &.startGame {
            padding: 10px;
            margin: 0 0 30px 0;
            font-size: 15px;
            background-color: darkslategray;
            color: white;
            border: none;
            border-radius: 4px;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: rgba(darkslategray, 0.9)
            }
        }

        &.lost-prank {
            display: none;
        }
    }
}