.game {

    .github {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;

        @media screen and (max-width: 400px){
            width: 35%;
        }

        @media screen and (min-width: 401px){
            width: 20%;
        }

        img {
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            max-width: 231px;
        }
    }

    audio {
        display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #2E3837;

    .output {
        z-index: 1;
        width: 60%;
        margin: 20px 0 0 0;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }

    .startGame {

        height: 20%;z-index: 1;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 10px;
            font-size: 15px;
            background-color: white;
            color: #2E3837;
            border: none;
            border-radius: 4px;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: rgba(white, 0.9)
            }
    
            &.hidden {
                display: none;
            }
        }
    }

    .board-container {
        height: 65%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
}